@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Work+Sans&display=swap");

.aboutSection {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fffbf7;
}
.aboutSection .container {
  display: flex;
  align-items: start;
  column-gap: 10px;
}

.aboutSection .container img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  padding-bottom: 20px;
  align-items: left;
}

.aboutSection h1 {
  font-size: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Antic Didone", serif;
  color: #ea9e41;
}

.aboutSection .container p {
  font-family: "Work Sans", sans-serif;
  color: #7a7878;
}

.aboutSection .video {
  width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.aboutSection .btn {
  width: 185px;
  font-size: 25px;
}

.about_btn {
  text-align: center;
}
